h3 {
    font-style: italic;
    font-weight: 300;
    line-height: 32px;
    font-size: 50px;
    text-align: center;
    color: #020202;
    }

.thinking p {
    color: #4998EB;
    font-family: Roboto;
    font-style: italic;
    font-size: 48px;
    line-height: 70px;
    font-size: 48px;
    text-align: center;
}

div.CheckIn  {
    border: 2px solid #6CC72E;
    text-align: center;
    background-color: #6CC72E;
    color: white;
    font-family: Roboto;
    font-style: italic;
    border-radius: 20px 20px;
    }