<section class="welcome">
  <div class="welcome__navbar">
    <div class="welcome__navbar__logo">
      <img src="/assets/img/logo.png" width="108" height="65" alt="logo"/>
    </div>
    <nav class="welcome__navbar__nav-list">
      <ul>
        <li>Почему мы?</li>
        <li>Наши услуги</li>
        <li>Стоимость услуг</li>
        <li><em>Забронировать</em></li>
      </ul>
    </nav>
  </div>
  <div class="welcome__slogan">

    <h1>
      Доверьте нам
      <br>
      <span>чистоту</span>
      <br>
      вашего дома
    </h1>
    <p>
      Профессиональная уборка
      жилых и коммерческих помещений в г. Астана.
    </p>
  </div>

  <div class="welcome__description">
    <img
      alt="Хороший человек с инструментами"
      class="welcome__description__man"
      src="/assets/img/slide01_men.png"
    />
    <div class="welcome__description__text">
      <p>
        Каждый человек время от времени вынужден заниматься уборкой квартиры. Вытереть пыль, помыть полы, пропылесосить,
        почистить сантехнику – все это совершенно необременительно, если вы располагаете свободным временем.
      </p>
      <p>
        Если же вы постоянно работаете или ведете активный образ жизни, то на поддержание чистоты в доме остается совсем мало
        сил. Жить в чистоте и не тратить ресурсы на наведение порядка вам предлагает клининговая компания PROFCLEAN
      </p>
    </div>
  </div>
</section>
