<section class="welcome">
    <div class="welcome-title">
        <div class="logo">
            <img>
        </div>
        <nav class="nav">
            <div class="logo">
                <img src="Image.png" width="90" height="90">
            </div>
            <ul>
                <li>Почему мы?</li>
                <li>Наши услуги</li>
                <li>Стоимость услуг</li>
                <li><em>Забронировать</em></li>
            </ul>
        </nav>
        <h1>
            Доверьте нам
            <br>
            <span>чистоту</span>
            <br>
            вашего дома
        </h1>
        <p>
            Профессиональная уборка
            жилых и коммерческих помещений в г. Астана.
        </p>
    </div>
   
    <div class="welcome-promo">
        <img src="/assets/img/slide01_men.png" />
        <div class="promo-text">
            <p>
                Каждый человек время от времени вынужден заниматься уборкой квартиры. Вытереть пыль, помыть полы, пропылесосить,
                почистить сантехнику – все это совершенно необременительно, если вы располагаете свободным временем.
            </p>
            <p>
                Если же вы постоянно работаете или ведете активный образ жизни, то на поддержание чистоты в доме остается совсем мало
                сил. Жить в чистоте и не тратить ресурсы на наведение порядка вам предлагает клининговая компания PROFCLEAN
            </p>
        </div>
    </div>
</section>