.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;

  h3 {
    font-style: italic;
    font-weight: 300;
    line-height: 32px;
    font-size: 48px;
    text-align: center;
    color: #020202;
  }

<<<<<<< HEAD
  p {
    font-style: italic;
    font-size: 20px;
    color: #818182;
    text-align: center;
    padding-bottom: 10px;
  }

  .badges {
    font-style: italic;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

    div {
      height: 150px;
      width: 30%;
      margin: 5px;
      border: 2px solid #6CC72E;
      border-radius: 50px 50px;
      color: white;
      background: #6CC72E;
      text-align: center;
      font-weight: 500;
      line-height: 70px;

      &.badges-green {
        border: 2px solid #6CC72E;
        background: #6CC72E;
      }

      &.badges-purple {
        border: 2px solid #283583;
        background-color: #283583;
      }
=======
    .badges {
        font-style: italic;
        color: red;
>>>>>>> parent of 6f141ea... initial commit
    }
  }
}
